[submodule "libraries/RoveWare"]
	path = libraries/RoveWare
	url = https://github.com/MST-MRDT/RoveWare.git
[submodule "libraries/RoveBoard"]
	path = libraries/RoveBoard
	url = https://github.com/MST-MRDT/RoveBoard-Energia.git
